# 목차 보기
- 아래 실행후 주피터 노트북 재실행
- !pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install


- Nbextention 탭이 보이면, Table of Contents(2) 활성화, 자동 번호 붙이기 선택/삭제, 이동형 목차 선택

- 관련 블로그 https://junpyopark.github.io/Jupyter_Extension/

# 한글 설치

## matplotlib에서 한글 보기

In [4]:
import platform, matplotlib
from matplotlib import rc

# '-' 기호 제대로 보이기
matplotlib.rcParams['axes.unicode_minus'] = False

# 윈도우
if platform.system() == 'Windows':
    rc('font', family="Malgun Gothic")
# 맥
elif platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
# 리눅스
elif platform.system() == 'Linux':
    rc('font', family='NanumBarunGothic')

## 코랩에 한글 폰트 설치
- (주의!) 아래 셀을 한 번 실행 후에, 런타임 - 런타임 다시 시작을 실행하고 아래 셀을 한번 더 실행하여야 한다

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
 
!apt -qq -y install fonts-nanum
 
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=10)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

# 하이퍼파라미터 최적화
- 과대적합이나 과소적합을 줄여 최대의 성능을 내는 환경 변수(하이퍼 파라미터)를 찾는 것

<img src="https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-05-30%20%E1%84%8B%E1%85%A9%E1%84%8C%E1%85%A5%E1%86%AB%209.18.00.png?raw=1" align='left'  width=300>

<img src="https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-05-30%20%E1%84%8B%E1%85%A9%E1%84%8C%E1%85%A5%E1%86%AB%209.18.09.png?raw=1" align='left'  width=300>

- 그리드 탐색과 랜덤 탐색

<img src="
https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-03-14%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%204.21.02.png?raw=1" align='left' width=350>

## 교차검증

In [ ]:
def cross_validation(model, X, y, cv=5): 
    cv = KFold(5, shuffle=True)
    return cross_val_score(model, X, y, cv=cv).mean().round(4)

# PCA

- 2차원 PCA 사용한 시각화
- PCA: 특성의 수를 정보를 잃지 않으면서 차원을 줄이는 기법

<img src="https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-10-04%20%E1%84%8B%E1%85%A9%E1%84%8C%E1%85%A5%E1%86%AB%209.24.09.png?raw=1" align='left'  width=300>

In [1]:
from sklearn.decomposition import PCA 
pca = PCA(n_components=2)
X_pca2 = pca.fit_transform(df_sc)
plt.figure(figsize=(8,6))
plt.scatter(X_pca2[:,0],X_pca2[:,1], c=k.labels_)
plt.xlabel('PCA1')
plt.ylabel('PCA2')
for n in range(df.shape[0]):
    plt.text(X_pca2[:,0][n], X_pca2[:,1][n], str(k.labels_[n])+df.index[n])

NameError: name 'df_sc' is not defined

# 기타 모델

## 나이브 베이즈

<img src="https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-05-30%20%E1%84%8B%E1%85%A9%E1%84%8C%E1%85%A5%E1%86%AB%209.29.38.png?raw=1" align='left'  width=250>

<img src="https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-05-30%20%E1%84%8B%E1%85%A9%E1%84%8C%E1%85%A5%E1%86%AB%209.29.56.png?raw=1" align='left'  width=200>

<img src="https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-05-30%20%E1%84%8B%E1%85%A9%E1%84%8C%E1%85%A5%E1%86%AB%209.30.57.png?raw=1" align='left'  width=550>

## kNN

<img src="https://github.com/StillWork/image/blob/main/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-05-30%20%E1%84%8B%E1%85%A9%E1%84%8C%E1%85%A5%E1%86%AB%209.28.52.png?raw=1" align='left'  width=300>

# datetime
- 연월일 시분초 정보를 다루는 특수 데이터 구조체

In [2]:
# 현재 시각 얻기
from datetime import datetime
t1 = datetime.now()
t1

datetime.datetime(2021, 9, 13, 20, 42, 10, 922981)

In [3]:
t1.year

2021

In [4]:
# 연월일 시분초 정보 얻기
t1.year, t1.month, t1.day, t1.hour, t1.minute, t1.second

(2021, 9, 13, 20, 42, 10)

In [5]:
# 요일 보기
t1.weekday()

0

In [6]:
# 포맷을 바꾸어 표현하기
d = "{1}/{2}/{0}".format(t1.year, t1.month, t1.day)
d

'9/13/2021'

In [7]:
# 새로운 datetime 객체 만들기
new_time = datetime(2021, 12, 31, 11)
new_time

datetime.datetime(2021, 12, 31, 11, 0)

In [8]:
# 시간 차이 구하기 (timedelta을 얻음)
delay = datetime.now() - t1
delay

datetime.timedelta(microseconds=24025)

## to_datetime
- 컬럼명이 year, month, day 인 데이터프레임을 datetime 형식으로 변환해준다

In [9]:
df = pd.DataFrame({'year': [2021, 2022, 2023],
                   'month': [2, 3, 4],
                   'day': [9, 11, 23]})
df

   year  month  day
0  2021      2    9
1  2022      3   11
2  2023      4   23

In [10]:
date = pd.to_datetime(df)
date

0   2021-02-09
1   2022-03-11
2   2023-04-23
dtype: datetime64[ns]

In [11]:
# 날짜 데이터를 직접 생성하는 방법 (네자리 연도는 Y로 표시)
pd.to_datetime('20210901', format='%Y%m%d', errors='ignore')

Timestamp('2021-09-01 00:00:00')

In [12]:
# 두자리 연도는 y로 표시
pd.to_datetime('210901', format='%y%m%d', errors='ignore') #ok

Timestamp('2021-09-01 00:00:00')

## date_range
- 날짜 데이터의 범위(기간)을 하나의 변수로 표현

In [13]:
date = pd.date_range(start='2021-1-1', end='2021-12-31')
print(len(date))
date

365

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [14]:
# datetime 형식 데이터는 데이터프레임으로 바로 만들 수 있다
pd.DataFrame(date)

             0
0   2021-01-01
1   2021-01-02
2   2021-01-03
3   2021-01-04
4   2021-01-05
..         ...
360 2021-12-27
361 2021-12-28
362 2021-12-29
363 2021-12-30
364 2021-12-31

[365 rows x 1 columns]